# Gitやエディタの設定ファイルなどを無視
.git/
.vscode/
.idea/

# Node.jsの依存関係を無視
/node_modules/

# Railsのビルドアセットを無視
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Dockerコンテナに不要なログや一時ファイルを無視
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# データベース関連のファイルを無視
/data/db/

# 他の既存の設定はそのまま
/.bundle
/.env*
!/.env*.erb
/config/master.key
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep